<div class="col-md-4 col-sm-6 portfolio-item">
  <a href= <%= "#portfolioModal#{favorite.id}"%> class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
            </div>
        </div>
        <%= favorite.favoritable.try(:avatar).nil? ? image_tag(favorite.favoritable.avatar_url, class:"img-responsive") : image_tag("portfolio/roundicons.png",class:"img-responsive")  %>
    </a>
    <div class="portfolio-caption">
        <h4><%= favorite.favoritable.name %></h4>
        <p class="text-muted"> <%= favorite.favoritable.owner.name %></p>
    </div>
</div>



<!-- Use the modals below to showcase details about your portfolio projects! -->

<%= render "portfolio_modal" ,:favorite => favorite %>
