<div class="col-md-4 col-sm-6 portfolio-item">
  <a href= <%= groups_url %> class="portfolio-link">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
            </div>
        </div>
        <%=  image_tag("portfolio/roundicons.png",class:"img-responsive")  %>
    </a>
    <div class="portfolio-caption">
        <h4><%= t :favorite_empty_title %></h4>
        <p class="text-muted"> <%= t :favorite_empy_content %></p>
    </div>
</div>



<!-- Use the modals below to showcase details about your portfolio projects! -->

<%= render "welcome/portfolio_modal_empty" %>
