<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
     <%= @group.name %> 
    </div>
  </div>
  <div class="panel-body">
    <div class="group_avatar">
      <%= image_tag(@group.avatar_url) if @group.avatar? %>  
    </div>
   <%= favorite_tag @group %>
   <%= @group.intro %>
  </div>
  <div class="panel-footer">
    <%= @group.created_at %>
  </div>
</div>


<div class="float-control">
  <%= link_to "<i class='fa fa-plus'></i>#{t :new_activity}".html_safe , new_group_activity_path(@group) ,class:'btn btn-primary'%> 
</div>

<%= render @group.applications %>

<% if !user_in_group? @group %>
  <%= render 'applications/form' %>
<% end %>

<%#activity%>
<table  class="activities table">
<% for activity in @activities %>
  <tr>
    <td>
     <%= link_to activity.name ,group_activity_path(@group,activity) %> 
    </td>
    <td>
      <%= "Introduction: #{activity.content}" %>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate @activities, renderer: BootstrapPagination::Rails %>

<%##users%>
<table class="members" summary="Group members">
  <%= render @users %>
</table>
<%= will_paginate @users, renderer: BootstrapPagination::Rails %>

