<%= form_for @group do |f| %>
 <div class="form-group">
  <%= f.label :name  %> 
  <%= f.text_field :name ,autofocus: true , class:"form-control" %>
 </div> 

 <div class="form-group">
  <%= f.label :intro %> 
  <%= f.text_area :intro ,autofocus: true , class:"form-control" %>
 </div>

 <%= f.submit 'Create' , class:"btn btn-primary col-md-12"%>
<% end %>
