<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
     <%= @group.name %> 
    </div>
  </div>
  <div class="panel-body">
    <div class="toDesktop btn btn-primary" id="toDesktop">
     <i class="fa fa-desktop fa-2x"></i> 
    </div>
    <%= @group.intro %>
  </div>
  <div class="panel-footer">
    <%= @group.created_at %>
  </div>
</div>

<%= render @group.applications %>

<% if !user_in_group? @group %>
  <%= render 'applications/form' %>
<% end %>

<table class="members" summary="Group members">
  <%= render @users %>
</table>
<%= will_paginate @users %>
