<div class="panel panel-default">
  <div class="panel-heading">
    <%= "<h4>#{@activity.name}</h4>".html_safe %> 
   <div class='star_time'>
     <%= format_time @activity.start_time %>
   </div>
   <div class="end_time">
     <%= format_time @activity.end_time %>
   </div>
   <%= track_tag @activity %>
   <%= participate_tag @activity %>
   
   <div class="vote">
      <div id="upvotes" data-id="<%= @activity.id %>">
          <i class="fa fa-thumbs-o-up fa-2x"> <span class="badge"><%= @activity.get_upvotes.size %></span></i>
        </div> 
        <div id="downvotes" data-id="<%= @activity.id %>">
          <i class="fa fa-thumbs-o-down fa-2x"> <span class="badge"><%= @activity.get_downvotes.size %></span></i>
        </div>
      </div>
   </div>

  <div class="panel-body">
   <%= render_markdown(@activity.content).html_safe %> 
  </div>
  <div class="panel-footer">
   <%= @activity.originator.name %> 
  </div>
</div>

<div class="float-control">
  <%= link_to "<i class='fa fa-plus'></i> events".html_safe , group_activity_events_path(@group,@activity) ,class:'btn btn-primary'%> 
</div>

<div id="generate-chart" >
  <%= render "generate_chart" %>
</div>


<div id="comment_box">
  <% for @comment in @activity.comments %>
   <%= render @comment %> 
  <% end %>
</div>

<%= render "comments/form" %>
