<div class="panel panel-default">
  <div class="panel-heading">
    <%= "<h4>#{@activity.name}</h4>".html_safe %> 
   <div class='star_time'>
     <%= format_time @activity.start_time %>
   </div>
   <div class="end_time">
     <%= format_time @activity.end_time %>
   </div>
  </div>
  <div class="panel-body">
   <%= render_markdown(@activity.content).html_safe %> 
  </div>
  <div class="panel-footer">
   <%= @activity.originator.email %> 
  </div>
</div>

<div id="comment_box">
  <% for @comment in @activity.comments %>
   <%= render @comment %> 
  <% end %>
</div>

<%= render "comments/form" %>
