<div class="col-md-9">
  <%= form_for @user , url: users_information_path(@user,format: :html) , html:{ method: :put ,enctype:  "multipart/form-data" } do |f| %>
   <div class="form-group">
    <%= f.label :name ,t(:user_name) %> 
    <%= f.text_field :name ,autofocus: true , class:"form-control" %>
   </div> 

   <div class="form-group">
    <%= f.label :real_name , t(:user_real_name) %> 
    <%= f.text_field :real_name ,autofocus: true , class:"form-control" %>
   </div>


   <p>
    <label> <%= t :user_avatar %></label>
    <%= image_tag(@user.avatar_url) if @user.avatar? %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
   </p>


   <div class="form-group datepicker">
    <%= f.label :age, t(:user_age) %>
   <%= f.text_field :age,class:"form-control datepicker"%> 


   <div class="form-group">
    <%= f.label :qq_number , t(:user_qq_number) %> 
    <%= f.text_field :qq_number ,autofocus: true , class:"form-control" %>
   </div>


   <div class="form-group">
    <%= f.label :job , t(:user_job) %> 
    <%= f.text_field :job ,autofocus: true , class:"form-control" %>
   </div>


   <div class="form-group">
    <%= f.label :home_address , t(:user_home_address) %> 
    <%= f.text_field :home_address ,autofocus: true , class:"form-control" %>
   </div>


   <div class="form-group">
    <%= f.label :current_address , t(:user_current_address) %> 
    <%= f.text_field :current_address ,autofocus: true , class:"form-control" %>
   </div>

   <div class="form-group">
    <%= f.label :signature , t(:user_signature) %> 
    <%= f.text_field :signature ,autofocus: true , class:"form-control" %>
   </div>


   <div class="form-group">
    <%= f.label :intr , t(:user_intr) %> 
    <%= f.text_area :intr ,autofocus: true , class:"form-control" %>
   </div>

   <%= f.submit t(:update_user_info), :disable_with => 'ing...' ,:class => "btn btn-primary col-md-12" %>
    
  <% end %>
</div>
<div class="col-md-3">
  <div class="side-bar-scroll">
    <div class="panel panel-default">
     <div class="panel-body">
        <div class="user-info">
          <%= image_tag(@user.avatar? ? @user.avatar_url : "avatar/large")  %>  
          <div class="information">
            <p> <%= @user.name %></p>
            <p> <%= @user.signature %> </p>
          </div>
        </div>
     </div> 
    </div>
  </div>
</div>
